<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VirtualMouse.Properties.Settings>
            <setting name="SurfaceX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_Surface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topLeftX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topLeftY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="botLeftX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="botLeftY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="botRightX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="botRightY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topRightX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="topRightY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_ActionArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xMultiplier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yMultiplier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relativeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relativeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_Recognizer" serializeAs="String">
                <value>False</value>
            </setting>
        </VirtualMouse.Properties.Settings>
    </userSettings>
</configuration>